/bin
/build
/vendor/lib
/res/*.mp4
/res/*.mov
*.vcxproj
*.filters
*.user
/build_debug
cmake-build-debug
/.cache
.cache
lib/glfw
lib/OpenAL
.vscode/
.idea
*.sh
**.sh
xbin/
.DS_Store
*.bat
compile_commands.json
*.ini
